@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --primary-color: #BF211E  ;
  --secondary-color: #333745 ;
  --accent1-color: #F0EBD8;
  --accent2-color: #03B5AA;

  --heading-font: "Libre Baskerville", sans-serif;
  --paragraph-font: "Poppins", Helvetica, sans-serif;
}

body {
  background-color: var(--accent1-color);
  margin: 0;
}

/* #content {
    line-height: 20px;
} */
header {
  display: grid;
  grid-template-columns: 180px auto 400px 20px;
}

header img {
  width: 150px;
  margin-left: 30px;
  margin-top: 10px;
}
nav {
  grid-column: 3;
  display: flex;
  
  justify-content: space-around;
  height: 70px;
}
#start-learning {
  margin: 15px;
  margin-top: 30px;
  width: 400px;
  height: 65px;
  background-color: var(--primary-color);
  border-radius: 15px;
  border: none;
  color: var(--accent1-color);
  font-family: var(--paragraph-font);
  font-size: 1.25em;
}
nav a {
  font-size: 1.3em;
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
}
nav :hover {
  text-decoration: underline;
}

#content h1 {
  font-size: 5em;
  font-family: var(--heading-font);
}

#hero {
  display: grid;
  grid-template-columns: 60% 40%;
}

.left {
  margin: 0 100px;
}

#hero img {
  width: 80%;
  margin: 0 auto;
}
#why-learn {
  background-color: var(--accent2-color);
  text-align: center;
  padding: 20px;
}
#why-learn p {
  margin: 0;
  margin-bottom: 10px;
  font-size: 2em;
}
ul {
  color: var(--accent1-color);
  list-style-type: none; 
  margin: 0 auto; 
  padding-left: 0;
  text-align: left;
  width: 450px;
  font-size: 1.4em;

}
ul li {
  padding-left: 1em;
  text-indent: -1em;
}

ul li:before {
  content: "✓";
  padding-right: 5px;
  color: var(--accent1-color); 
}
#sample {
  text-align: center;
  margin: 0 auto;
  width: 800px;
}
#sample p {
  font-size: 2em;
  font-family:var(--paragraph-font);
}
#start-here {
  margin: 15px;
  margin-top: 30px;
  width: 400px;
  height: 50px;
  background-color: var(--primary-color);
  border-radius: 50px;
  border: none;
  color: var(--accent1-color);
  font-family: var(--paragraph-font);
  font-size: 1.25em;
}

footer {
  background-color: var(--primary-color);
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  padding: 20px;
}
#media {
  grid-column: 1;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#media img {
  margin: 10px;
}
#input {
  grid-column: 2;
  width: 315px;
  margin: 0 auto;
  font-size: 1.3em;
  font-family: var(--paragraph-font);
}
#input label {
  color: var(--accent1-color);
}
#email-box {
  width: 300px;
  height: 25px;
  margin: 10px;
  border: none;
  border-radius: 15px;
  padding-left: 15px;
  background-color: var(--accent1-color);
}
#send {
  width: 65px;
  height: 30px;
  background-color: var(--accent2-color);
  border-radius: 15px;
  border: none;
  color: var(--accent1-color);
  font-family: var(--paragraph-font);
}



table.flashcard {
  background-color: var(--accent1-color);
  width: 100%;
  height: 80px;
  text-align: center;
  border-collapse: collapse;
}
table.flashcard td, table.flashcard th {
  border: 2px solid var(--secondary-color);
  border-radius: 30px;
  padding: 3px 2px;
}
table.flashcard tbody td {
  font-size: 30px;
  font-weight: bold;
  font-family: var(--paragraph-font);
}
table.flashcard tbody td.red {
  color: var(--primary-color);
}
table.flashcard tr:nth-child(even) {
  background: #D0E4F5;
}
table.flashcard tfoot td {
  font-size: 14px;
}
table.flashcard tfoot .links {
  text-align: right;
}
table.flashcard tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
}
#about-us img{
  float:right;
}
#what-we-offer img{
  float:left;
}